/* #region common */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --boolzap-background-primary: #dbdbd3;
    --boolzap-background-secondary: #009688;
    --boolzap-notification: #8edafc;
    --boolzap-dark: #eaeaea;
    --boolzap-darker: #b1b1b1;
    --boolzap-chat: #d5f9ba;
    --boolzap-lightest: white;
}
/* #endregion common */

/* #region utilities */
.d-flex{
    display: flex;
}

#avatar, #chat-intestation, #search-bar{
    background-color: var(--boolzap-dark);
    align-items: center;
}

img{
    border-radius: 50%;
}
/* #endregion utilities */


body{
    height: 100vh;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, #009688 0%, #009688 120px, #eaeaea 120px, #eaeaea 100%);
}


/* #region app */

#app{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    max-width: 1440px;
    justify-content: center;
}

/* #region left */

#left{
    flex-direction: column;
    width: 30%;

    & #avatar{
        border-right: 0.5px solid var(--boolzap-darker);
    }
}

#avatar .fa-solid{
    color: var(--boolzap-darker);
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

#left > div:not(#contact-container){
    padding: 1.3rem;
}

.fa-bell-slash{
    color: var(--boolzap-notification);
    background-color: var(--boolzap-lightest);
    border-radius: 50%;
    padding: 0.8rem 0.6rem;
    font-size: 1.5rem;
}

#notification{
    background-color: var(--boolzap-notification);
    gap: 0.8rem;
}

.notification-text{
    flex-direction: column;
    justify-content: center;

    >span:nth-child(1){
        font-size: 1.3rem;
    }

    >span:nth-child(2){
        color: grey;
        text-decoration: underline;
    }
}

.fa-magnifying-glass{
    padding: 0 1rem 0 0.5rem;
}

#search-bar span{
    padding: 0.2rem;
    background-color: white;
    padding-right: 8rem;
    color: var(--boolzap-darker);
}

.contact-list{
    background-color: var(--boolzap-lightest);
    border-bottom: 0.5px solid var(--boolzap-darker);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    & .notification-text > span{
        text-decoration: none;
    }
}

.hour{
    position: absolute;
    right: 1rem;
    top: 1.35rem;
    color: var(--boolzap-darker);
}

#contact-container{
    flex-direction: column;
    width: 100%;
    background-color: var(--boolzap-lightest);
    max-height: 58vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#avatar{
    justify-content: space-between;
}
/* #endregion left */

/* #region right */

#right{
    width: 70%;
    flex-direction: column;

    & #chat-text{
        height: 80%;
        background-image: url(../img/mine.jpg);
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        overflow-y: scroll;
        max-height: 66vh;
    }
}

#chat-text p{
    width: 60%;
    max-height: 300px;
}

#chat-text p:nth-child(1){
    background-color: var(--boolzap-chat);
    padding: 0.5rem;
    border-radius: 1rem;
    align-self: flex-end;
}

#chat-text p:nth-child(2){
    background-color: var(--boolzap-lightest);
    padding: 0.5rem;
    border-radius: 1rem;
}

#write-message{
    background-color: var(--boolzap-dark);
    border-bottom: 0.5px solid black;
    border-right: 0.5px solid black;
}

#chat-intestation{
    justify-content: space-between;
    max-height: 10%;
    align-items: center;
}

#name{
    align-items: center;
}

#right > div{
    padding: 2rem;
}

#right-intestation{
    justify-content: space-between;
}

#intestation-name{
    flex-direction: column;
}

#icon{
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--boolzap-darker);
}

#right-intestation > .notification-text {
    padding-left: 1rem;
}

.notification-text p{
    color: var(--boolzap-darker);
}

/* #endregion right */

/* #endregion app */


/* #region media-query */
@media screen and (max-width: 991px) {
    #left{
        width: 10%;
    }

    #left div{
        width: 100%;
    }

    #avatar{
        align-self: center;
    }

    #left > div span, #notification, #search-bar{
        display: none;

    }

    #right{
        width: 90%;
    }

    #contact-container{
        max-height: 73vh;
        align-items: center;
    }

    #avatar > div{
        display: none;
    }

    .hour{
        display: none;
    }
}

@media screen and (max-width: 540px) {
    #left{
        display: none;
    }

    #icon{
        display: none;
    }
}
/* #endregion media-query */