*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --boolzap-background-primary: #dbdbd3;
    --boolzap-background-secondary: #009688;
    --boolzap-notification: #8edafc;
    --boolzap-dark: #eaeaea;
    --boolzap-darker: #b1b1b1;
    --boolzap-chat: #d5f9ba;
    --boolzap-lightest: white;
}

body{
    background-color: var(--boolzap-background-secondary);
}

.d-flex{
    display: flex;
}

#app{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    max-width: 1440px;
}

#left{
    flex-direction: column;
    width: 30%;

    & #avatar{
        border-right: 0.5px solid var(--boolzap-darker);
    }
}

#left > div:not(#contact-container){
    padding: 2rem;
}

#right > div{
    padding: 2rem;
}

#right{
    width: 70%;
    flex-direction: column;

    & #chat-text{
        height: 80%;
        background-image: url(../img/mine.jpg);
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
    }
}

#chat-text p{
    width: 60%;
    max-height: 300px;
}

#chat-text p:nth-child(1){
    background-color: var(--boolzap-chat);
    padding: 0.5rem;
    border-radius: 1rem;
    align-self: flex-end;
}

#chat-text p:nth-child(2){
    background-color: var(--boolzap-lightest);
    padding: 0.5rem;
    border-radius: 1rem;
}


#avatar, #chat-intestation, #search-bar{
    background-color: var(--boolzap-dark);
}

#notification{
    background-color: var(--boolzap-notification);
}

.contact-list{
    background-color: var(--boolzap-lightest);
    border-bottom: 0.5px solid var(--boolzap-darker);
    padding: 2rem;
}

#contact-container{
    flex-direction: column;
    width: 100%;
    background-color: var(--boolzap-lightest);
    overflow-y: scroll;
    max-height: 58vh;
}

#write-message{
    background-color: var(--boolzap-dark);
}

#chat-intestation{
    justify-content: space-between;
}

#name{
    flex-direction: column;
}

#name::before{
}

@media screen and (max-width: 991px) {
    #left{
        width: 10%;
    }

    #left div{
        width: 100%;
    }

    #avatar{
        align-self: center;
    }

    #left > div span, #notification, #search-bar{
        display: none;

    }

    #right{
        width: 90%;
    }

    #contact-container{
        max-height: 92vh;
        align-items: center;
    }
}

@media screen and (max-width: 540px) {
    #left{
        display: none;
    }
}